/*------------------------Index Page */



#main-page-background {
    background-color: #0049b7;

}

.main-page {
    padding-top: 150px;
    margin: 0;
    text-align: center;


}

.main-page p {
    color: white;
    padding: 50px;
}
.main-page h2 {
    color: white;
    border: solid yellow 5px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;

    
}



.btn-success {
    padding: 10px;
}

.btn-success a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}



/*------------------------ Quiz */

#quiz-page-background {
    background-color: #0049b7;
}

#quiz-background {
    background-color: #0049b7;
    border: solid 2px yellow;
    border-radius: 15px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    box-sizing: content-box;
}

.answer-choices {
    color: white;
    text-align: center;
   
 
}

.choice {
    text-align: center;

}

.choice-letter, .choice {
    border: solid 2px yellow;
    border-radius: 10px;
    height: auto;
    margin: 10px 2px;
    text-align: center;
    box-sizing: content-box;
    background-color: #00339c;
}




.red {
    background-color: red;
}

.green {
    background-color: green;
}

/*------------------------ Score Page */