/*------------------------Index Page */



#main-page-background {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #0049b7;
    background: url("../images/lib2.jpg");
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
    transition: all .20s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;

}

.main-page {
    padding-top: 150px;
    margin: 0;
    text-align: center;
}

.circle-content {
    background-color: rgb(0, 0, 0, 0.4);
    border: solid rgb(255, 255, 0, 0.4) 5px;
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    padding: 15% 5%;
    text-align: center;
    position: relative;
    
}


.circle-content p {
    margin: 5%;
    color: white;
    margin-top: 50%;
    position: absolute;

}
.circle-content h3 {
    color: white;
    font-weight: bold;
    position: absolute;
}



.btn-success {
    padding: 10px;
}

.btn-success a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}



/*------------------------ Status Bar */



/* .container {
    height: 20px;
    padding: 0;
    justify-content: center;
} */

.status-bar {

    border: transparent solid 1px;
    border-radius: 10px;
    height: 25px;
    padding: 0;
    /* position: relative; */
    background-color: black;
    max-width: 500px;
    display: flex;

}




.q1 {
    border: solid transparent;
    border-radius: 10px 0 0 10px;
    padding: 0;
}

.q10 {
    border: solid transparent;
    border-radius: 0 10px 10px 0;
}

.b {
    color: white;
    text-align:  center;
    z-index: 20;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.c {
    padding: 0;
    margin: 0;
}


/*------------------------ Quiz */

#quiz-page-background {
    background-color: #0049b7;
}

#quiz-background {
    justify-items: center;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    margin: 0;
}


.quiz-container {
    padding: 10px;
    margin: 0;
    justify-items: center;
    text-align: center;
}

#question {
    color: white;
    font-size: 20px;
    margin-top: 10%;
}

#difficulty {
    color: white;
    font-size: 12px;
    margin: 10px;
    text-decoration: underline;
}




.choices {
    position: absolute;
    left: 5px;
    bottom: 4px;
    height: 25px;
    width: 25px;
    margin: auto;

}

.options {
    color: white;
    border: solid 1px yellow;
    border-radius: 25px;
    height: auto;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: #00339c;
    font-size: 15px;
    max-width: 500px;
    position: relative;

}



.btn-container{
    padding: 5px;
    max-width: 500px;
    height: auto;
    margin: 0;

}


#next {
    float: right;
    text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
}

#see-your-score {
   text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    margin-top: 25px;
}

/*------------------------ Score Page */
.score-container {
    margin-top: 25%;
    

}



.score-page-heading h4 {
    color: white;
    text-align: center;
}

.back-to-main-page, .play-again {
    text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;

}

#back-to-main-page, #play-again {
    margin-top: 55px;
}

.back-to-main-page a {
    text-decoration: none;
    color: white;
}


.score-page-buttons {
    margin-top: 10%;
}



/*------------------------ Color classes */

.red {
    background-color: red;
}

.green {
    background-color: green;
}
